#order{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quantity{
    margin-left: 250px;
    margin-top: 20px;
}

#cc{
    background-color: aqua;
}

#addcard {
    background-color: white;
    margin-top: 85px;
    width: 90dvw;
    display: grid;
    grid-template-columns:repeat(3,minmax(250px,1fr));
    column-gap: 10px;
  }

  @media (max-width: 1180px) {
    #addcard {
      grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    }
  }

